 <!-- -----step2----- -->
      <h3 id="step2" class="listas-main saml_heading_font" data-navtext="Step 2: Step 2: Choose Your User Directory">Step 2: Choose Your User Directory</h3>
      <ul class="authen_sub_bullets">
        <li>Log in to miniOrange dashboard from the <a href="https://login.xecurify.com/moas/login" target="_blank">Admin Console</a>.</b> </li>
        <li>From the Side Menu, Click on <b>User Stores >> Add User Store</b> </li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/1add-user-store.png" /><br><br>
        <li>Select User Store type as <b>AD/LDAP.</b> </li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/2select-ad-ldap.png" /><br><br>
        <li><b>STORE LDAP CONFIGURATION IN MINIORANGE: </b>Choose this option if you want to keep your configuration in miniOrange. If active directory is behind a firewall, you will need to open the firewall to allow incoming requests to your AD. </li>
        <li><b>STORE LDAP CONFIGURATION ON PREMISE:  </b>Choose this option if you want to keep your configuration in your premise and only allow access to AD inside premises. You will have to download and install<a href="https://www.miniorange.com/miniorange-ldap-gateway" target="_blank">miniOrange gateway</a>in your premise.</li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/3ldap-user-store.png" /><br><br>
        <li>Enter<b>LDAP Display Name</b>and<b>LDAP Identifier</b>of your choice. Select<b>Directory Type</b>as<b>Active Directory.</b></li>
        <li>Enter the LDAP Server URL or IP Address against<b>LDAP Server URL</b>field.</li>
        <li>Go to <b>AD FS-> Domain-> respective Users -> Properties-> Attribute Editor.</b>Now copy the value of distinguishedName and paste it against Bind Account DN. </li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/4adfs-disinguished-name.png" /><br><br>
        <li>Enter the valid password for the user from above step.</li>
        <li>Search Base is the location in the directory where the search for a user begins.</li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/5adfs-search-base.png" /><br><br>
        <li>If you want to add extra conditions on user search you can add it in Search Filter. Select a suitable <b>USearch Filter from the Drop-Down. </b>To use custom Search Filter select<b>"Custom Search Filter" </b>option and provide the search filter in the input field that shows up. </li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/6adfs-search-filter.png" /><br><br>
        <li>You can also configure following options while setting up AD.</li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/7ldap-options.png" /><br><br>
        <p>Here's the list of the attributes and what it does when we enable it. You can enable/disable accordingly.</p>
    <!--     -----table starts----- -->
        <table style="width:50%" id="attributes">
          <tr>
            <th>Attribute</th>
            <th>Description</th>
            
          </tr>
          <tr>
            <td>Activate LDAP</td>
            <td>All user authentications will be done with LDAP credentials if you Activate it</td>
            
          </tr>
          <tr>
            <td>Sync users in miniOrange</td>
            <td>Users will be created in miniOrange after authentication with LDAP</td>
            
          </tr>
          <tr>
            <td>Backup Authentication</td>
            <td>If LDAP credentials fail then user will be authenticated through miniOrange</td>
            
          </tr>
          <tr>
            <td>Allow users to change password</td>
            <td>This allows your users to change their password. It updates the new credentials in your LDAP server</td>
            
          </tr>
          <tr>
            <td>Enable administrator login</td>
            <td>On enabling this, your miniOrange Administrator login authenticates using your LDAP server</td>
            
          </tr>
          <tr>
            <td>Show IdP to users</td>
            <td>If you enable this option, this IdP will be visible to users</td>
            
          </tr>
          <tr>
            <td>Send Configured Attributes</td>
            <td>If you enable this option, then only the attributes configured below will be sent in attributes at the time of login</td>
            
          </tr>
          
        </table>
        <!-- -----table ends----- -->
        <li>Click on<b>Save.</b>After this, it will show you the list of User stores.Click on<b>Test Configuration</b>to check whether you have enter valid details. For that, it will ask for username and password.</li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/8ldap-test-connection.png" /><br><br>
        <li>On<b>Successful</b>connection with LDAP Server, a success message is shown.</li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/9connection-success.png" /><br><br>
        <li>Click on <b>Test Attribute Mapping.</b> </li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/10active-directory-test-attributes.png" /><br><br>
        <li>Enter a valid<b>Username.</b>Then, click on<b>Test.</b>Mapped Attributes corresponding to the user are<b>fetched.</b></li>
        <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/11active-directory-fetched-attributes.png" /><br><br>
        <li>After successful Attribute Mapping Configuration, go back to the ldap configuration and enable<b>Activate LDAP</b>in order to authenticate users from AD/LDAP.</li>
        <p>Refer our<a href="https://www.miniorange.com/guide-to-setup-ldaps-on-windows-server" target="_blank">guide</a>to setup LDAPS on windows server.</p>
        <!-- -----step2.2----- -->
        <h3 id="step1" class="listas-main saml_heading_font" data-navtext="2.2: Setup miniOrange as a User Store">2.2: Setup miniOrange as a User Store</h3>
        <ul class="authen_sub_bullets">
          <li>Log in to miniOrange dashboard from the <a href="https://login.xecurify.com/moas/login" target="_blank">Admin Console</a>.</b> </li>
          <li>There are 3 ways to setup miniOrange as an Identity Source</li>
          <!-- -----sublist starts---- -->
          <ul>
            <li><a href="https://www.miniorange.com/beamer-single-sign-on-(sso)#create_user">2.2.1 Create User in miniOrange</a></li>
            <li><a href="https://www.miniorange.com/beamer-single-sign-on-(sso)#create_user">2.2.2 Bulk Upload Users</a></li>
            <li><a href="https://www.miniorange.com/beamer-single-sign-on-(sso)#create_user">2.2.3 Self User Registration</a></li>
            <!-- -----2.2.1----- -->
            <h3 id="step1" class="listas-main saml_heading_font" data-navtext="2.2.1 Create User in miniOrange">2.2.1 Create User in miniOrange</h3>
            <ul class="authen_sub_bullets">
              <li>Clin on<b>Users >> Add User.</b></li>
              <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/12add-user.png" /><br><br>
              <li>Here, fill the user details without the password and then click on the<b>Create User</b>button.</li>
              <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/13add-user-details.png" /><br><br>
              <li>Click on<b>On Boarding Status</b>tab.Check the email, with the registered e-mail id and select action<b>Send Activation Mail with Password Reset Link</b>from<b>Select Action</b>dropdown list and then click on <b>Apply</b>button</li>
              <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/14email-action.png" /><br><br>
              <li>Now, Open your email id. Open the mail you get from miniOrange and then click on the link to set your account password.</li>
              <li>On the next screen, enter the password and confirm password and then click on the <b>Single Sign On (sso)reset password</b> button.</li>
              <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/15reset-your-pwd.png" /><br><br>
              <li>Now, you can log in into miniOrange account by entering your credentials.</li>
              <!-- -----2.2.2----- -->
              <h3 id="step1" class="listas-main saml_heading_font" data-navtext="2.2.2 Bulk Upload Users in miniOrange via Uploading CSV File.">2.2.2 Bulk Upload Users in miniOrange via Uploading CSV File.</h3>
              <ul class="authen_sub_bullets">
                <li>Navigate to <b>Users >> User List.</b> Click on Add User button.</li>
                <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/16bulk-upload.png" /><br><br>
                <li>In Bulk User Registration <b>download sample csv format</b> from our console and edit this csv file according to the instructions.</li>
                <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/17download-sample-csv.png" /><br><br>
                <li>ITo bulk upload users, choose the file make sure it is in  <b>comma separated .csv file format</b>then click on Upload.</li>
                <img class="img_size" alt="Beamer Single Sign-On (sso)click on configure app" src="images/18bulk-upload-file.png" /><br><br>
                <li>After uploading the csv file successfully, you will see a success message with a link.</li>
                <li>Click on that link you will see list of users to send activation mail. Select users to send activation mail and click on Send Activation Mail. An activation mail will be sent to the selected users.</li>
                <!-- -----2.2.3----- -->
                <h3 id="step1" class="listas-main saml_heading_font" data-navtext="2.2.3 Self User Registration">2.2.3 Self User Registration</h3>
                <ul class="authen_sub_bullets">
                  <li>miniOrange self user registration allows end users to register themselves using customized registration form. miniOrange admin users can customize the registration form by adding more custom fields accodring to their choice.<a href="https://idp.miniorange.com/steps-to-customize-user-self-registration-page/" target="_blank">Learn More</a></li>
                </ul>
                <!-- -----step3----- -->
                <h3 id="step1" class="listas-main saml_heading_font" data-navtext="2Step 3: Setup SSO in Surv Admin Account">Step 3: Setup SSO in Surv Admin Account</h3>
                <ul class="authen_sub_bullets">
                  <li><b>Send us your metadata</b><li>
                    <ul>
                      <li>Send SurveyMonkey your organization's metadata XML file or URL. Then we’ll set up SSO in our system and send you steps to validate that it's working correctly</li>
                      <li>We need the following from you:
                        <ul>
                          <li>Entity ID</li>
                          <li>HTTP Redirect Endpoint</li>
                          <li>X.509 Certificate (specifically the Signing KeyType)</li>
                        </ul>
                      </li>
                      <li>SurveyMonkey will set up SSO in our system and send you steps to validate that it's working correctly.</li>
                    </ul> 